{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-runtime",
    [
      "react-css-modules",
      {
        "generateScopedName": "[path]___[name]__[local]___[hash:base64:5]"
      }
    ]
  ]
}
