.line {
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.addStockButton {
    margin-top: 10px;
}

.amountPriceForm input {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}