.checkout {
    max-height: 600px;
}

.cart {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cartItem {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}