.product {
    background-image: url('/images/product_background.png');
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    height: 160px;
}

.image {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.label {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.price {
    text-align: center;
    font-size: 1.25em;
}

.stock {
    text-align: center;
    font-size: 1.25em;
}
