.product {
    background-image: url('/images/product_background.png');
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 160px;
}

.price-row {
    display: flex;
    justify-content: center;
}

.image-row {
    flex: 1 1 0;
    margin: auto;
    min-height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
}

.label {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.price {
    font-size: 1.25em;
    margin: auto;
}

.stock {
    font-size: 1.25em;
    margin: auto;
}
