{
  "rules": {
   "no-console": 2,
   "no-alert": 0
  },
  "env": {
    "browser": true,
    "node": false
  },
  "globals": {
    // Because webpack handles it.
    "process": true,
    "require": true
  }
}
